/* STYLES FOR RENE'S BAKERY AND DELI, UPDATED 8/25/25 BY JAM-DESIGNS.COM */

/* Boiler Plate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   html, body {
    height: 100%;
    font-size: 100%;
    width: 100%;
    /* overflow-x: hidden; */
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p {
  
    margin-bottom: 16px;
   }

   html:focus-within {
    scroll-behavior: smooth;
  } 

   input, button, textarea, select {
    font: inherit;
  }

   a {
    text-decoration: none;
    color: inherit;
  }







  /*/////////////////// Fonts ///////////////////////*/
@font-face {
    font-family: 'Kannada';
    src: url('../fonts/Kannada_MN/KannadaMN-01.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin';
    src: url('../fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf'),
    url('../fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni';
    src: url('../fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lovelace";
    src: url('../fonts/Lovelace/Zetafonts\ -\ Lovelace\ Text\ Regular.otf');
    font-weight: normal;
    font-display: swap;
}

  /*//////////////// Colors ///////////////////////*/

  :root {
 
    --rene-blue: #166AC5;
    --off-white: #FBF7EF;
    --cream: #FFF3DE    ;
    --brownie: #674B41;
    --secondary-brwn: #4f352b;
    --accent-yellow: #FFBD59;
    --text-dark: #3a2115;
    --text-light: #FBF7EF;
    --burgandy: #722F40;
  }




    /*///////////////// BEGIN MAIN STYLING///////////*/

    /* Mobile styles are set to default, to overwrite use desktop media query  */

   

    /*/////////////// HEADER //////////////*/

    body {
        background-color: var(--off-white);
        max-width: 100vw;
        overflow-x: hidden;
    }

    header {
        background-color: var(--rene-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 200px;
     }

    header h4 {
        color: var(--text-light);
        margin-top: -40px;
        font-size: 11px;
        font-weight: 80;
    }

    .tagline {
        text-align: center;
    }

    .logo {
        height: auto;
        max-width: 220px;
        margin-bottom: -10px;
       
    }


    h1 {
        font-family: 'Kannada';
        color: var(--brownie);
        text-align: center;
        font-weight: 100;
        
        
    }

    h2 {
        font-family: 'Josefin';
        color: var(--text-dark);
    }

    p {
        font-family: "Josefin";
    }

    .menu-items {
        font-family: 'Josefin';
        color: var(--brownie);
    }

    h4 {
        font-family: 'Bodoni';
        font-size: 10px;
        font-weight: 50;
        padding-bottom: 10px;
    }

   

    

  
/* Hero Section  */
    .hero {
        background-color: var(--off-white);
        height: 90vh;
        background-image: url('../images/renes-background-small.png');
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10vh;
        
    }

    .textbox {
        background-color: var(--off-white);
        height: 70vw;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
        padding-top: 1rem;
        border-radius: 25px;
        border: 5px solid #782D40;

    }

    .hero h1 {
         font-family: "Plus Jakarta Sans", sans-serif;
         font-weight: 400;
         text-align: center;
         font-size: clamp(1.75rem, 1px + 2.75vw, 2.5rem); 
         color: var(--text-dark);
    }

   

    .hero h1 {
         font-family: "Plus Jakarta Sans", sans-serif;
         font-weight: 400;
         text-align: center;
         font-size: clamp(1.75rem, 1px + 2.75vw, 2.5rem); 
         color: var(--text-dark);
    }

    .hero h2 {
         font-family: "Plus Jakarta Sans", sans-serif;
         font-weight: 200;
         text-align: center;
         font-size: clamp(1.15rem, 1px + 2vw, 2rem); 
         color: var(--burgandy);
    }

    .hero strong {
        color: var(--rene-blue);
    }

    .hero .welcome-text {
        margin-top: 1rem;
    }

     .hero .deli-soon {
        margin-top: 1rem;
        letter-spacing: -1px;
        font-size: clamp(1.75rem, 1px + 2.5vw, 2.5rem);
    }

    /* Color Accent Lines below nav */
    .nav-accent-line {
        background-color: var(--cream);
        width: 100%;
        height: 4px;
    }

    .nav-accent-line-2 {
        background-color: var(--burgandy);
        width: 100%;
        height: 7px;
    }
  

    /* BEGIN PASTRY SECTION */
 
    section {
        padding: 5%;
        background-color: var(--off-white);
    }
    
    

    .section-title h1 {
        letter-spacing: 3.6px;
        font-size: 3rem;
    }

    .menu-section {
        display: flex;
        flex-direction: column;
        padding: 0 12%;
        align-items: center;
    }


    .breads {
        margin-top: 8vh;
      
    }

    .section-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3vh;
        width: 100%;
    }

    .horizontal-line {
        margin-top: -18px;
        margin-bottom: 27px;
        background-color: var(--burgandy);
        border: none;
        height: .1rem; 
        width: 80%;
    }

    hr {
        margin-top: -18px;
        margin-bottom: 27px;
        background-color: var(--burgandy);
        border: none;
        height: .1rem; 
     
    }

    .menu-items {
        margin-bottom: 36px;
        width: 100%;
        
    }
    .menu-item {
        margin-bottom: 1.25rem;
        display: flex;
    }

    .sub-header {
        margin-top: 5vh;
        width: 100%;
    }

    .more-sub {
        margin-bottom: -5vh;
    }

    .dots {
    flex-grow: 1;
    border-bottom: 1px dotted #999;
    margin: 0 5px;
    position: relative;
    bottom: 5px;
    }

    .note {
        color: var(--brownie);
        display: block;
        width: 100%;
    }

    /* ANNA CAKES SECTION BEGIN */

    .cakes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

    }

   
    .cakes h1 {
     
        font-size: 3rem;
    }
    

    .cakes p {
        text-align: center;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        color: var(--secondary-brwn);
        line-height: 1.65rem;
        width: 60vw;
    }

    .anna h1 {
        margin-top: 5%;
        font-size: 2.35rem;
        width: 500px;
        font-family: 'Lovelace';
    }

    


    h6 {
        font-size: 24px;
        font-family: 'Josefin';
        color: var(--secondary-brwn);
    }
      /* MOBILE FOOTER SECTION BEGIN */
    footer {
        width: 100%;
        background-color: var(--secondary-brwn);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8%;
        padding-top: 15%;
        color: var(--off-white);
    }

    .vert-line {
        display: none;
    }

    h5 {
        font-family: "Josefin";
        font-size: 28px;
        text-align: center;
        margin-bottom: 5vh;
    }

    .day {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60vw;
        font-family: 'Josefin';
        font-size: 20px;
        margin-bottom: .5rem;
    }
    
    .hours {
        text-align: center;
        width: 100px;
    }

    .footer-right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .shop-hours {
        font-family: 'Lovelace';
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
    }

    .hours-heading {
        font-family: 'Lovelace';
        font-weight: 100;
        font-size: 1.75rem;
        margin-bottom: 2rem;
    }

    footer p {
        text-align: center;

    }

    footer h2 {
        color: #FBF7EF;
        text-align: center;
        margin-bottom: .5rem;
        font-family: "Kannada";
        font-weight: 100;
    }

    .logo-footer {
        width: clamp(25px, 1px + 50vw, 600px);
        /* min-width: 180px; */
        margin:  0 auto;
  
    }

    .phone {
        margin-bottom: 1rem;
    }

    .cta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    cursor: pointer;
   }

   .cta a {
    display: flex;
    align-items: center;
    font-family: 'Lovelace';
    font-size: 1.25rem;
    color: #FFBD59;
    cursor: pointer;
   }

   .cta img {
    margin-left: 1rem;
    width: 24px;
   }

   .notices {
    background-color: var(--secondary-brwn);
    color: var(--off-white);
    padding: 5px 1rem;
    display: flex;
    justify-content: center;
   }

.desktop-only {
  display: none;
}

.desktop-nav {
    display: none;
}

.logo-desktop {
    display: none;
}

.mobile-only {
  display: block;
}

.address {
    font-family: 'Lovelace';
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.phone {
    font-family: 'Josefin';
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}


.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-line-foot {
        background-color: var(--off-white);
        width: 120%;
        height: 1px;
        margin-top: -2vh;
        margin-bottom: 50px;
    }









   /* ///LARGER SCREENS ////////////////////////////////////////////*/

   @media (min-width: 768px) {

     /* Show/hide elements based on screen size */
  
  
  .mobile-only {
    display: none;
  }
    .logo {
    display: none;
}

  .logo-desktop {
    display: block;
    height: auto;
    max-width: 300px;
    margin-bottom: -10px;
}

    .hamburger-lines, .checkbox {
                display: none;
            }

  .vert-line {
        background-color: #FBF7EF;
        height: 60vh;
        width: 2px;
        display: block;
        padding: 0;
    }

 


    header {
        background-color: var(--rene-blue);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        justify-content: space-between;
        height: 15%;
        padding-left: 3%;
        /* ^ changed entire section */
     }

    header h4 {
        display: none;
        /* ^changed, deleted styling (established) */
    }

   

    .desktop-nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: lime; */
        min-width: 55%;
        margin-right: 1rem;
        gap: 2rem;
        
    }

    nav a {
        text-decoration: none;
        color: var(--off-white);
        font-size: 1.25rem;
        font-size: clamp(1rem, 2vw, 1.25rem);
        margin-top: 2rem;
        font-weight: 500;
        font-family: 'Kannada';
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease;
        text-wrap: nowrap;
    }

    nav a:hover {
        border-bottom: 3px solid var(--off-white);
        font-weight: 100;
        color: var(--accent-yellow);
        cursor: pointer;
    }

    .hamburger {
        display: none;
    }

    

    .hamburger {
        width: 40px;
        position: absolute;
        right: 4%;
        top: 6%;
    }


    .hero {
        height: 90vh;
        background-image: url('../images/renes-background-horizontal.png'); 
        /* ^changed */
       
        
    }

    .textbox {
        background-color: var(--off-white);
        height: 60vh;
        /* ^ changed */
        width: 80vw;
        max-width: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10%;
    }


   .menu-item {
    font-size: 1.25rem;
   }

   .menu-section {
        padding: 0 20%;
   
    }

    .horizontal-line {
        width: 65%;
    }



    

    
/* Desktop Footer */
    footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 0rem;
    /* background-color: lime; */
  }

  .desktop-only {
  display: block;
}

  footer p {
    font-size: 1.35rem;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .footer-right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   

     .logo-footer {
        width: clamp(300px, 1px + 30vw, 450px);
        margin:  0 auto;
        /* background-color: #4e8bdb; */
    }

    .logo-line-foot {
        background-color: var(--off-white);
        width: 75%;
        height: 1px;
        margin-top: -2vh;
        margin-bottom: 50px;
    }


   


    .day {
        font-size: 20px;
        max-width: 500px;
    }
    


    .phone {
        margin-bottom: 1.5vh;
    }


    
    .cta a {
    font-size: 1.25rem;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 3vh;
   }

   .cta img {
    width: 32px;
   
   }

   

  .shop-hours {
    /* flex-shrink: 0; */
    /* min-width: 280px; */
    /* max-width: 50%; */
    margin-bottom: 0;
    /* background-color: magenta; */
    align-items: center;
  }
  
  .shop-hours h5 {
    font-family: 'Lovelace';
    margin-bottom: 2rem;
    font-size: clamp(2rem, 2.25rem, 3rem);
    
  }
  
  .day {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    width: 280px;
    margin-bottom: 0.6rem;
  }


   }


  



   